{% set pageTitle = 'Committee | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container">
      <div class="block">
         <h1 class="title">Committee</h1>

         <p>Our committee is comprised of a number of the members of Radio Arcane, in conjunction with the illustrious Scary Lady Sarah. Between us, we have a wide range of skills, experience in presenting large live events, generally, and practical involvement in the production of multiple incarnations of Convergence, specifically. We also have a support system of wonderful, industrious people to aid us in our endeavors.</p>

         <article class="bio">
            <h3 class="bio__title"><strong>Tarik Dozier</strong> (Osiris Ani) – Regional Warlord, Logistical Reality Wrangler</h3>

            <figure class="bio__img">
               {{ img.picture(
                  jpg="/images/about/tarik-dozier.jpg",
                  webp="/images/about/tarik-dozier.webp",
                  alt="Tarik Dozier (Osiris Ani)"
               )}}
            </figure>

            <div class="bio__content">
               <p>Osiris first made himself known to the denizens of alt.gothic at some point in the mid-‘90s, and originally hails from Chicago, but landed in Kentucky sixteen years ago. A founding member of Radio Arcane, he’s DJed Goth nights and festivals in Kentucky, Indiana, and Illinois, and now regularly spins at our monthly event at Art Sanctuary. He’s attended C5, C20, C24, and C25, and is the one who’s been responsible for roping us into this particular endeavor, driving us all to the brink of madness with his boundless enthusiasm for Convergence. It’s fine; madness is our thing.</p>

               <p>Incidentally, it was that very same Convergence-induced fervor–and the earnest desire to maintain the sort of euphoria that can only come from a happy reunion with the net.goth family–that compelled Tarik to create the Facebook version of alt.gothic at the tail end of C20. He continues to admin that group, along with Scary Lady Sarah and Carrie Monster, and diligently keeps the gawkers and trolls at bay.</p>

               <p>He spends most of the rest of his time as an IT professional or making art, which basically amounts to an attempt to bend electrons and photons to his will, respectively.</p>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Kim Bell</strong> (DJ Kaleidoscope)</h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/kim-bell.jpg",
                  webp="/images/about/kim-bell.webp",
                  alt="Kim Bell (DJ Kaleidoscope)"
               )}}
            </figure>

            <div class="bio__content">
               <p>An established salon/business owner, Kim has also been dedicated to a lifetime of promoting, DJing, probing, and writing a kaleidoscopic grayscale of alternative, underground, and experimental music. She was one of the first DJs in Louisville to bring the dark, Goth/EBM sounds to local dance clubs, and has helped add to the local playlists of established, alternative clubs/ nights–Discovery, Sparks, City Lights, Tewligans, Main Street Lounge, Red Barn, Headliners Music Hall, Za’s, Fusion, Confusion, Art Sanctuary, Seidenfaden’s and more.</p>

               <p>Further, she DJed at Convergence 13, and has also graced music festivals around the continent, including Dragon Con (Atlanta), Kinetic (Chicago), and Kinetic (Montreal, Canada), as well as guest DJing events such as Das Bunker - Los Angeles, CA; Nashville, TN; Indianapolis, IN; Bloomington, IN; Chicago, IL; Dayton, OH; Cincinnati, OH; Columbus, OH; Atlanta, GA; Portland, OR; Anchorage, AK; Fairbanks, AK; St. Louis, MO; Springfield, MO; Fayetteville, AR; Murfreesboro, TN; and more.</p>

               <p>If she’s not in the DJ booth, you’ll find her happily dancing the night away.</p>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Brian Drabant</strong></h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/brian-drabant.jpg",
                  webp="/images/about/brian-drabant.webp",
                  alt="Brian Drabant"
               )}}
            </figure>

            <div class="bio__content">
               <ul>
                  <li>Mutant selector</li>
                  <li>Contacting the astral plane via synthesizers and drum machines</li>
                  <li>Vinyl and digital</li>
                  <li>Multimedia Artist</li>
                  <li>Colonel Flangers</li>
               </ul>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Lisa Frye</strong> – The Benefactor</h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/lisa-frye.jpg",
                  webp="/images/about/lisa-frye.webp",
                  alt="Lisa Frye"
               )}}
            </figure>

            <div class="bio__content">
               <p>Lisa has always been an artist. Whether the medium is painting, photography, design, event planning or the culinary arts, she loves to create. As a child, her aunt once said that if she were trapped in a room with no doors or windows, she would manage a way to draw herself to freedom.</p>

               <p>After earning her BFA from the University of Louisville, she found that there were many local talented artists that had nowhere to show their works. Her response was to create the non-profit Art Sanctuary organization.</p>

               <p>As Art Sanctuary’s co-founder and President, she hopes to continue to create a safe place for artists of all stripes to have a place to commune and create. As part of her mission to support artists of all kinds, she also manages and produces local performing arts group, Va Va Vixens, and is one of the founding members of Radio Arcane.</p>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Matt Kokas</strong> (DJ Sorrow-Vomit)</h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/matt-kokas.jpg",
                  webp="/images/about/matt-kokas.webp",
                  alt="Matt Kokas (DJ Sorrow-Vomit)"
               )}}
            </figure>

            <div class="bio__content">
               <p>Fun facts about Matt:</p>

               <ul>
                  <li>Louisville-based DJ since 2004</li>
                  <li>Web developer/programmer</li>
                  <li>Past and present Goth / post-punk / coldwave / synth fanatic</li>
                  <li>Meticulous collector and cataloger</li>
                  <li>Gothic Rain Man</li>
                  <li>Has attended C12</li>
               </ul>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Edwin Ramirez</strong> (AndrOspore)</h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/edwin-ramirez.jpg",
                  webp="/images/about/edwin-ramirez.webp",
                  alt="Edwin Ramirez (AndrOspore)"
               )}}
            </figure>

            <div class="bio__content">
               <p>A bipedal colonial lifeform hailing from the unexplored trenches of the deepest seas, Edwin brings a message to the surface world–save our planet and dance while you do it. He spends his days talking to dogs (professionally) and is an audio/visual artist. Edwin has been involved in Louisville’s Goth scene since 2007 (formerly DJ Sodom – RIP) and helped organize and play at various local Louisville club nights including Confuzion, Paradox, Deafixion, Pandemonium, Visceral, and now Radio Arcane. Edwin has guest DJed at other midwest club nights including Nashville, TN, Columbus, OH, Cincinnati, OH, and New Albany, IN, and attended C14.</p>

               <p>Currently he resides in his hobbit hole with his husband, Robert, and their two schnauzers.</p>
            </div>
         </article>

         <article class="bio">
            <h3 class="bio__title"><strong>Scary Lady Sarah</strong> – Professor Emeritus</h3>

            <figure class="bio__img">
               {{ img.lazyPic(
                  jpg="/images/about/scary-lady-sarah.jpg",
                  webp="/images/about/scary-lady-sarah.webp",
                  alt="Scary Lady Sarah"
               )}}
            </figure>

            <div class="bio__content">
               <p>A native Chicagoan (with a 7-year stretch of splitting time between Chicago & Berlin) Scary Lady Sarah has been a professional working club DJ since 1988. Her bi-monthly club night Nocturna is now in its 31st year and going strong. She has been a featured DJ at some of the most prestigious dark music/Goth events in the world, including Convergence, Wave-Gotik-Treffen, Whitby Gothic Weekend, and all across clubs in North America and Europe.</p>

               <p>Aside from being a DJ, Scary Lady Sarah has presented hundreds of live bands in Chicago, under her American Gothic Productions banner, along with scores of other club nights and parties. Her love of music entered a new realm when her husband, William Faith, taught her to play guitar and they formed The Bellwether Syndicate in 2012.</p>

               <p>SLS was on the committee for C1 and co-chaired C10 and C20. She has attended C1, C4, C5, C6, C7, C8, C9, C10, C12, C19, C20, C21, C23, and C24. She was a DJ at C1, C5, C6, the “C7 Rescue,” C8, C9, C10, C12, C19, C20, C21, and C23. Her band, The Bellwether Syndicate, performed at C19, C21, and C24. She has been an unofficial consultant for several past C* committees, as well. Her commitment to and fondness for the Convergence concept and community goes all the way back to the beginning.</p>
            </div>
         </article>
      </div>
   </div>
{% endblock %}
