{% set pageTitle = 'The Hotel | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container">
      <article class="block">
         <h2 class="title">The Hotel</h2>

         <p>The official hotel for Convergence 26 is the gorgeous, spacious, well-appointed, river-adjacent <a href="https://book.passkey.com/go/Convergence26" target="_blank">Galt House</a>.</p>

         <p>Convergence 26 room booking for the Galt House Hotel is now immediately <a href="https://book.passkey.com/go/Convergence26" target="_blank">available</a>. West Tower deluxe rooms (two queen beds or one king bed) are $159, and East Tower executive suites (two queen beds and a separate living room with sofa bed, dining table, mini-fridge, and wet bar) are $189.</p>

         <p>A waterfront suite version of the West Tower room is also available for $209.</p>

         <p>The block ranges from Friday to Monday, but for those who’d prefer to spend more time with us, we’ve also arranged for these discounted rates to be honored for guests within our block for the three days pre and post. Feel free to check in as early as Tuesday, if that’s your pleasure. If the room type on the date range you’re seeking does not appear on Passkey (if for example, you’d like to check in early and leave late), please <a href="/contact">contact us</a> so that we can have that immediately added. Not all available rooms are readily blocked for dates outside of the officially-official Convergence event dates, and while we’ll be keeping an eye on the room block status in the effort to preempt things temporarily getting filled, please feel free to <a href="/contact">reach out to us</a> right away if you encounter any difficulties.</p>

         <p><a href="https://book.passkey.com/go/Convergence26" target="_blank">https://book.passkey.com/go/Convergence26</a></p>
      </article>
   </div>
{% endblock %}
