{% set pageTitle = 'Page Not Found | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container">
      <div class="block">
         <h1 class="title">Page Not Found</h1>

         <p>
            Sorry, but this page does not exist. <a href="/">Return Home</a>.
         </p>
      </div>
   </article>
{% endblock %}
