{% set pageTitle = 'Convergence 26 - Louisville, KY' %}
{% set hasHero = true %}

{% extends '_layouts/default.njk' %}

{% block hero %}
   {% include "_components/hero-main.njk" %}
{% endblock %}

{% block main %}
   <div class="container">
      <article class="block">
         <p>Nestled in the dead center of the states that comprise the US’s Midwest, East, and South sits Kentucky, and the best features of each of these regions are well-represented in Louisville. Its burgeoning art, music, theater, and culinary cultures, combined with its rich history and natural splendor, themselves, have much to offer, and, oh… we have a Goth scene, too.</p>

         <p>These Victorian-era garden cemeteries aren’t just going to appreciate themselves, after all.</p>

         <p>Radio Arcane, Art Sanctuary, and really, all of Louisville are delighted that our fair city has been chosen for Convergence 26. We have much to share with you.</p>
      </article>

      <article class="block">
         <h2 class="title">News & Annoucements</h2>

         <div class="card card--news">
            <div class="card__body">
               <h5 class="card__title">Matt started the website</h5>
               <time class="card__date" datetime="2019-11-01">Nov. 1, 2019</time>

               <div class="card__text">
                  <p>n eu arcu vestibulum, fringilla enim a, dapibus nulla. Mauris suscipit orci nec risus euismod, quis fringilla tellus viverra.</p>
               </div>
            </div>
         </div>

         <div class="card card--news">
            <div class="card__body">
               <h5 class="card__title">Matt started the website</h5>
               <time class="card__date" datetime="2019-11-01">Nov. 1, 2019</time>


               <div class="card__text">
                  <p>n eu arcu vestibulum, fringilla enim a, dapibus nulla. Mauris suscipit orci nec risus euismod, quis fringilla tellus viverra.</p>
               </div>
            </div>
         </div>
      </article>

      <article class="block">
         <h3 class="title">Social Media Block..</h3>

         <p>Social Media Icons with please follow message to keep up on news...</p>
      </article>

      <article class="block">
         <h3 class="title">What is Convergence?</h3>

         <p>Etiam accumsan nisl non risus posuere mollis. Suspendisse non risus ac purus posuere bibendum quis sed ex. Vestibulum vel ligula ex. Donec dictum leo vitae libero porttitor, a tincidunt diam semper. In a lectus turpis. Sed ultrices tortor quis diam sodales lacinia. Fusce bibendum finibus elit, eget ullamcorper tellus venenatis vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin lobortis massa mauris, iaculis ullamcorper nisi dapibus nec. Vivamus eleifend semper lectus, convallis lobortis lectus elementum rutrum. In rutrum id eros a scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed blandit nulla quis velit semper, sed viverra elit tristique. Etiam purus nisl, tristique quis malesuada ac, rhoncus eu diam.</p>

         <p>Vivamus luctus enim quis mi posuere pulvinar. Donec eu laoreet diam, a imperdiet nibh. Phasellus tincidunt tincidunt nibh a volutpat. Fusce et mi sit amet tortor tempor condimentum. In tristique dui sit amet congue varius. Quisque placerat massa suscipit iaculis maximus. Etiam id aliquam lacus, in convallis dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla fermentum mollis bibendum. Sed laoreet convallis consequat. Sed molestie malesuada sapien, vitae tincidunt nulla lobortis vitae. Mauris bibendum nibh vitae lacus scelerisque, non viverra ex tincidunt. In interdum elementum dignissim. Mauris id lobortis risus, id rutrum augue.</p>
      </article>
   </div>
{% endblock %}
