{% set pageTitle = 'Convergence 26 - Louisville, KY' %}
{% set hasHero = true %}

{% extends '_layouts/default.njk' %}


{% block hero %}
   {% include "_components/hero-main.njk" %}
{% endblock %}

{% block main %}
   <div class="container">
      <article class="block">
         <p>Nestled in the dead center of the states that comprise the US’s Midwest, East, and South sits Kentucky, and the best features of each of these regions are well-represented in Louisville. Its burgeoning art, music, theater, and culinary cultures, combined with its rich history and natural splendor, themselves, have much to offer, and, oh… we have a Goth scene, too.</p>

         <p>These Victorian-era garden cemeteries aren’t just going to appreciate themselves, after all.</p>

         <p>Radio Arcane, Art Sanctuary, and really, all of Louisville are delighted that our fair city has been chosen for Convergence 26. We have much to share with you.</p>
      </article>

      <article class="block">
         <h2 class="title">News & Annoucements</h2>
      </article>

      <article class="block">
         <h2 class="title">What is Convergence?</h2>
      </article>
   </div>
{% endblock %}
