<header class="masthead" role="banner">
   <div class="masthead__content">
      <a id="nav-toggle" class="masthead__hamburger" title="Menu" aria-label="Menu">
         <svg viewBox="0 0 857.1 1000" class="icon"><path d="M857 750v71q0 15-10 25t-26 11H36q-15 0-25-11T0 821v-71q0-15 11-25t25-11h785q15 0 26 11t10 25zm0-286v72q0 14-10 25t-26 10H36q-15 0-25-10T0 536v-72q0-14 11-25t25-10h785q15 0 26 10t10 25zm0-285v71q0 14-10 25t-26 11H36q-15 0-25-11T0 250v-71q0-15 11-26t25-10h785q15 0 26 10t10 26z"></path></svg>
      </a>

      <nav class="masthead__nav" role="navigation">
         <ul class="mast-nav">
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/">
                  Home
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/venue">
                  The Venue
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/travel">
                  Travel
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/accommodations">
                  Accommodations
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/attractions">
                  Attractions
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/food">
                  Food
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/about">
                  About Us
               </a>
            </li>
            <li class="mast-nav__item">
               <a class="mast-nav__link" href="/submissions">
                  Submissions
               </a>
            </li>
         </ul>
      </nav>

      <div class="masthead__text">
         <h1 class="masthead__title">
            <span>Convergence 26</span> <span>Louisville, KY</span>
         </h1>
         <span  class="masthead__subtitle">
            May 15-17, 2020
         </span>
      </div>

   </div>
</header>
