<section class="hero">
   <div class="hero__container">
      <div class="hero__content">
         <div class="main-hero">
            <div class="main-hero__brand">
               <h1 class="main-hero__title">Convergence <span aria-label="26">26</span></h1>
               <img class="main-hero__title__img" src="/images/logo-300x300.png" alt="Convergence 26 Logo">
            </div>
            <div class="main-hero__info">
               <span>Louisville</span> <span aria-label="2020">MXXX</span>
            </div>
            <div class="main-hero__slogan">
               Live deliciously
            </div>
         </div>
      </div>
   </div>
</section>
