<ul class="social-nav">
   <li class="social-nav__item">
      <a href="{{ social.facebook }}" target="_blank" class="social-nav__link" title="Convergence 26 @ Facebook" aria-label="Convergence 26 @ Facebook">
         <img inline src="/images/icons/facebook-square.svg" class="icon" />
      </a>
   </li>
   <li>
      <a href="{{ social.instagram }}" target="_blank" class="social-nav__link" title="Convergence 26 @ Instagram" aria-label="Convergence 26 @ Instagram">
         <img inline src="/images/icons/instagram.svg" class="icon" />
      </a>
   </li>
</ul>
