.footer {
   padding: $padding-vertical 0;
   border-top: 1px solid hex-to-rgba($white, 0.7);

   &__nav {

   }

   .footer__menu {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      padding: 0;
      margin: 0;

      &__item {
         margin: 0 $padding-horizontal 1em 0;

         @include breakpoint($screen-l-min) {
            margin-right: 2em;
         }
      }

      &__link {
         color: $white;

         &:hover,
         &:focus,
         &:active {
            color: darken($white, 40%);
         }
      }
   }

   &__social {
      font-size: 45px;
   }

   &__copy {
      padding-top: $padding-vertical;
      text-align: center;
      font-size: 75%;
      opacity: 0.9;
   }
}
