.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 ($gutter-width / 2) * -1;

    &--center {
       justify-content: center
    }

    &--center-items {
      align-items: center;
   }

    &--collapse {
       margin-left: $gutter-width * -1;
       margin-right: $gutter-width * -1;
    }
}

.grid__item {
   padding-left: $gutter-width;
   padding-right: $gutter-width;

   &--pad-top {
      padding-top: 2rem;
   }

   &--pad-btm {
      padding-bottom: 2rem;
   }
}

$num-of-columns: 12;
$column-breakpoints: $screen-xs-min, $screen-s-min, $screen-m-min, $screen-l-min, $screen-xl-min, $screen-xxl-min;
$column-prefixes: 'xs', 'sm', 'md', 'lg', 'xl', 'xxl';

@mixin gridColumns($classPrefix, $numColumns: 12) {
    @for $i from 1 through $numColumns {
        .#{$classPrefix}-#{$i} {
           width: ($i / $numColumns) * 100%;
        }
    }
}

@for $i from 1 through length($column-prefixes) {
    $prefix: nth($column-prefixes, $i);
    $breakpoint: nth($column-breakpoints, $i);

    @if ($breakpoint) {
        @include breakpoint($breakpoint) {
            @include gridColumns($prefix, $num-of-columns);
        }
    }
}
