@import "_functions/index";
@import "_mixins/index";

@import "variables";

@import "node_modules/normalize.css/normalize";

@import "fonts";


/*
   https://www.eggradients.com/category/black-gradient
*/

@import "base/body";
@import "base/typography";
@import "base/media";
@import "base/lists";
@import "base/forms";

@import "containers/block";
@import "containers/container";
@import "containers/grid";
@import "containers/hero";
@import "containers/main";
@import "containers/masthead";
@import "containers/navigation";
@import "containers/footer";

@import "components/bio";
@import "components/button";
@import "components/icon";
@import "components/title";

@import "pages/home";
@import "pages/louisville";

@import "util/borders";
@import "util/space";
@import "util/text";


.no-js {
   .lazy[data-src] {
      display: none;
   }
}

.card {
   border: 1px solid hex-to-rgba($white-smoke, 0.4);
   border-radius: 8px;
   margin: 0 0 1em;
   position: relative;
   background: lighten($black, 15);
   font-size: 90%;

   &__header {

   }

   &__body {
      padding: $padding-vertical $gutter-width;
      display: flex;
      flex-direction: column;
   }

   &__title {
      margin: 0;
      padding: 0 0 0.25rem;
      order: 2;
   }

   &__text {
      opacity: 0.8;
      font-size: 95%;
      order: 3;

      & > *:last-child {
         padding-bottom: 0;
         margin-bottom: 0;
      }
   }

   &__date {
      order: 1;
      opacity: 0.75;
      font-size: 75%;
   }
}
