@font-face {
    font-family: 'Smile and Wave';
    src: url('SmileandWave.woff2') format('woff2'),
        url('SmileandWave.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

