{% set pageTitle = 'Band & DJ Submissions | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container">
      <div class="block">
         <h1 class="title">Band & DJ Submissions</h1>

         <p>
            We currently are no longer accepting submissions for bands and DJ. We received over 120 submissions, so bare with us as we work to schedule a great line-up. Thanks for your interest!
         </p>
      </div>
   </article>
{% endblock %}
