{% macro simpleHero(text='', className=false) %}
   <div class="hero {{ 'hero--' + className if className }}">
      <div class="hero__content">
         <h1 class="hero__title">{{ text }}</h1>
      </div>
   </div>
{% endmacro %}
