{% set pageTitle = 'Contact | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="block">
      <section class="container">
         <h1 class="title">Contact Us</h1>

         <p>
            Got a question or need help?<br>
            Use the form below to get in touch, or send us a message through <a href="{{ social.facebook }}" target="_blank">Facebook</a>.
         </p>

         <form id="contact-form" name="contact" method="POST" data-netlify="true" netlify-honeypot="info">
            <noscript>
               <p><strong>Sorry, but JavaScript is required to properly submit this form</strong></p>
            </noscript>

            <input type="hidden" name="form-name" value="contact" readonly />
            <input type="hidden" name="subject" value="Convergence 26 Contact Form Submission" readonly />

            <fieldset>
               <div class="grid grid--collapse">
                  <div class="grid__item xs-12 md-6">
                     <label for="name">
                        <span class="required-label">Name:</span>
                        <input type="text" id="name" name="name" maxlength="200" aria-label="Your Name" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12 md-6">
                     <label for="email">
                        <span class="required-label">Email:</span>
                        <input type="email" id="email" name="email" maxlength="200" aria-label="Email Address" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12">
                     <div style="display:none;" aria-hidden="true">
                        <input type="text" name="info" aria-label="Please ignore this field.">
                     </div>

                     <label for="message">
                        <span class="required-label">Message:</span>
                        <textarea id="message" name="message" aria-label="Message" required></textarea>
                     </label>
                  </div>
                  <div class="grid__item xs-12 text-center">
                     <button type="submit" class="btn">
                        Submit Form
                     </button>
                  </div>
               </div>
            </fieldset>
         </form>
      </section>
   </div>
{% endblock %}
