{% set pageTitle = 'The Venue | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container">
      <div class="block">
         <h1 class="title">The Venue</h1>

         <figure class="text-center pb-1">
            {{ img.lazyPic(
               jpg="/images/venue/art-sanctuary-building.jpg",
               webp="/images/venue/art-sanctuary-building.webp",
               alt="Art Sanctuary Building"
            )}}
         </figure>

         <p class="pb-1">Art Sanctuary is also the eponym for a 26,000 sq. ft. physical structure, roughly half of which is dedicated to an event facility (9500 sq. ft.; occupancy: 597) and gallery space (3200 sq. ft.; occupancy: 98), all of which incorporates such features as a large, fully equipped stage, full bar, lobby area, comfortable seating, and single-story accessibility.</p>

         <figure class="text-center pb-1">
            <a href="http://www.art-sanctuary.org/building-information" target="_blank">
               {{ img.lazyPic(
                  jpg="/images/venue/art-sanctuary-layout.jpg",
                  webp="/images/venue/art-sanctuary-layout.webp",
                  alt="Art Sanctuary Building Layout"
               )}}
            </a>
         </figure>

         <p>Within Art Sanctuary (which is licensed as an 18+, 4am venue), our evening Convergence events can feature what everyone has come to expect—bands, DJs, fashion show, etc.–but, concurrently, it can also accommodate an art show and a wide array of vendors in fully separate spaces, thus making all of this much more convenient for attendees while also curbing expenses. That physical separation also makes the gallery area a somewhat quieter space, with seating for those who’d prefer to relax and enjoy conversation.</p>

         <ul>
            <li>
               <a href="http://www.art-sanctuary.org/building-information" target="_blank">
                  Building Information
               </a>
            </li>
            <li>
               <a href="http://www.art-sanctuary.org/event-space-rental" target="_blank">
                  Event Space Rental
               </a>
            </li>
         </ul>

         <p>Further, the facility will also be made available during the day, and thus could potentially host community-led workshops of various types. We fully welcome volunteers who’d like to lead such activities, and invite you to contact us with your feedback on what you’d like to see and what you have to offer.</p>
      </div>
   </article>
{% endblock %}
